
/* Estilo del Header Lateral */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
    z-index: 1000;
}

.sidebar .list-group-item {
    border: none;
    background-color: #343a40;
    color: #adb5bd;
}

.sidebar .list-group-item:hover {
    background-color: #495057;
    color: white;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .sidebar {
        display: none; /* Ocultar el sidebar */
    }
    .content {
        margin-left: 0; /* Ajustar el margen del contenido */
    }
/* Reducir el tamaño de la fuente en dispositivos móviles */
.table {
    font-size: 12px;
    /* Reduce el tamaño de la fuente de la tabla */
}

/* Ajustar las celdas para que no se desborden */
.table td,
.table th {
    white-space: nowrap;
    /* Evita que el contenido se divida en varias líneas */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Agrega "..." si el texto es demasiado largo */
}

/* Quitar padding innecesario */
.table th,
.table td {
    padding: 0.5rem;
}

/* Ajustar el contenedor de la tabla */
.table-responsive {
    overflow-x: auto;
    /* Asegura que la tabla se pueda hacer scroll horizontal si es necesario */
}
}

@media (max-width: 768px) {

/* Estilos compactos para móviles */
.table td,
.table th {
    padding: 4px;
    /* Reducir el padding de las celdas */
    font-size: 12px;
    /* Tamaño de fuente reducido */
}

/* Ajustar el ancho de las columnas */
.table th,
.table td {
    word-wrap: break-word;
    /* Permite que el texto se divida en varias líneas si es necesario */
}

/* Ajustar el tamaño de la tabla al 100% del contenedor */
.table-responsive {
    max-width: 100%;
    /* Asegura que la tabla no se desborde horizontalmente */
}
}


body {
    overflow: hidden; /* Evitar el scroll en toda la página */
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

.header-options {
    background-color: #343a40;
    color: white;
    padding: 10px;
}
  /* Header fijo en la parte superior */
@media (max-width: 768px) {
.mobile-header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #343a40;
    z-index: 1000;
    padding: 10px 0;
}

.mobile-header a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

 /* Ajustar el espacio del contenido para que no quede detrás del header */
 .content {
    padding-top: 60px;
}
}
